$menuback: #333;
$menubacklight: #444;
$menufont: white;
$contentback: white;
$lightsecond: #cdc;
$lighttext: #777;
$menufontselect: #474;
$linkcolor: #474;
// $menufontselect: rgb(115, 157, 206);
// $linkcolor: rgb(115, 157, 206);