@import './colors.scss';

html {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

html, body, div {
    margin:0;
    padding:0;
    text-align: justify;
}

a {
    text-decoration: none;
    color: $linkcolor;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.capitalize {
    text-transform: uppercase;
}

.nobold {
    font-weight: normal;
}

.fakeicon {
    text-transform: uppercase;
    display: inline-block;
    padding: 15px;
    font-size: 0.8em;
    align-content: center;
    margin-right: 20px;
}