<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Luc Libralesso",
        "jobTitle": "Phd",
        "description": "optimization, branch-and-bound, meta-heuristics",
        "url": "http://www.librallu.gitlab.io/",
        "image": "https://librallu.gitlab.io/img/profile.945740c3.jpg"
      }
    </script>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Luc Libralesso <%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>Luc Libralesso, Phd, optimization</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
