
.algorithm {
  margin-top: 35px;
  margin-bottom: 35px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  width: 500px;
  padding-left: 10px;
}

.algorithm-name {
  text-align: center;
  border-bottom: 1px solid black;
  counter-reset: algo;
}

.algorithm-body {
  text-align: left;
}

.block {
  margin-left: 20px;
  padding-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-left: 2px solid #ccc;
}

.block .name {
  text-align: left;
}

.name::before {
  counter-increment: algo;
  content: counter(algo);
  float:left;
  position:absolute;
  left:35px;
  color: #888;
  user-select: none;
}
